/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Main content styles */
.rankings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.rankings-item {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.ranking-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.ranking-timestamp {
    font-size: max(2vw,3vh);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}



@media (max-width: 768px) 
{
    .rankings-grid {
        grid-template-columns: 1fr;
    }
}
